services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: leiria_monitor
      POSTGRES_USER: leiria
      POSTGRES_PASSWORD: leiria
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
